html input {
  font-family: monospace;
  font-size: 1.3em;
}
input {
  border: 0;
}
.mood {
  cursor: pointer; cursor: hand;
  padding: 0 0.5em;
  font-size: 1.5em;
  font-family: monospace;
}
h1 span, h2 span, h3 span, h4 span {
  padding-right: 0.3em;
}
.ps span {
  padding: 0 0.3em;
}
.ps input {
  width: 2em;
}
.ps .s {
  text-align: right;
}
.fill {
  width: 100%;
}
ol li {
  list-style-type: none;
}
ol li span {
  display: table-cell;
}
ol li input {
  width: 100%;
}
ol {
  padding: 0;
  padding-left: 1em;
}
